body {
    background-image: url("https://i.pinimg.com/736x/9d/04/ad/9d04ad766bf63af247e87717483aa128.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    backdrop-filter: blur(9px);
}
.screen {
    backdrop-filter: blur(9px);
    background-color: rgba(245, 245, 220, 0.2);
    border-radius: 15%;
    justify-items: center;
    margin-top:90px;
}
.information {
    color: white;
    margin: 15%;
    padding: 15px;
}
input {
    border-radius: 15px;
}
.id {
    display: grid;
    padding: 10%;
}
.pass {
    display: grid;
    padding: 10%;
}
button {
    background-color: #e0b68c;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
    button a {
        text-decoration-line: none;
        color: white;
    }
